<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../elements/meta %>
</head>

<body>
  <div>
    <% include ../../elements/navbar %>
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <h2 class="tm-block-title">Tài khoản người dùng</h2>
            <p class="text-white">Loại tài khoản</p>
            <select class="custom-select" id="accountType">
              <option value="0" selected>Khách hàng</option>
              <option value="1">Quản trị viên</option>
            </select>
            <br>
            <br>
            <table class="table table-hover tm-table-small tm-user-table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">TÊN KHÁCH HÀNG</th>
                  <th scope="col">EMAIL</th>
                  <th scope="col">SỐ ĐIỆN THOẠI</th>
                  <th scope="col">USERNAME</th>
                  <th scope="col">KHÓA TÀI KHOẢN</th>
                </tr>
              </thead>
              <tbody id="userDetail">
                <tr>
                </tr>
              </tbody>
            </table>
            <div style="text-align: center;">
              <button id="firstUserPage" type="button" class="btn btn-outline-light btn-custom">&laquo;</button>
              <button id="prevUserPage" type="button" class="btn btn-outline-light btn-custom"><</button> 
              <button id="nextUserPage" type="button" class="btn btn-outline-light btn-custom">></button>
              <button id="lastUserPage" value="<%= lastPage %>" type="button" class="btn btn-outline-light btn-custom">&raquo;</button>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
      <div class="row tm-content-row">
        <div class="tm-block-col tm-col-avatar">
          <div class="tm-bg-primary-dark tm-block tm-block-avatar">
            <h2 class="tm-block-title">Ảnh đại diện</h2>
            <div class="tm-avatar-container">
              <img id="avatar" src=""  class="tm-avatar img-fluid mb-4" />
            </div>
          </div>
        </div>
        <div class="tm-block-col tm-col-account-settings">
          <div class="tm-bg-primary-dark tm-block tm-block-settings">
            <h2 class="tm-block-title">Thông tin tài khoản</h2>
            <form class="tm-signup-form row">
              <div class="form-group col-lg-6">
                <label for="name">Tên</label>
                <span id="name" class="form-control validate"></span>
              </div>
              <div class="form-group col-lg-6">
                <label for="DoB">Ngày sinh</label>
                <span id="DoB" class="form-control validate"></span>
              </div>
              <div class="form-group col-lg-6">
                <label for="email">Email</label>
                <span id="email" class="form-control validate"></span>
              </div>
              <div class="form-group col-lg-6">
                <label for="phone">Số điện thoại</label>
                <span id="phone" class="form-control validate"></span>
              </div>
              <div class="form-group col-lg-6">
                <label for="gender">Giới tính</label>
                <span id="gender" class="form-control validate"></span>
              </div>
              <div class="form-group col-lg-6">
                <label for="account">Tài khoản</label>
                <span id="account" class="form-control validate"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ../../elements/footer %>
  </div>

  <% include ../../elements/scripts %>

  <script src="javascripts/ajax_user.js"></script>
</body>

</html>