<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= title %></title>
	<% include meta %>
	<% include ../../elements/meta %>
</head>

<body>
	<% include ../../elements/navbar %>

	<div class="container">
		<div class="row tm-content-row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">

				<h2 class="tm-block-title">Biểu đồ tháng</h2>
				<canvas id="lineChart"></canvas>
			</div>
		</div>
		<div class="wrap-table100">
			<div class="table100 ver1">
				<div class="table100-firstcol">
					<table>
						<thead>
							<tr class="row100 head">
								<th class="cell100 column1">Tháng</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row100 body">
								<td class="cell100 column1">1</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">2</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">3</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">4</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">5</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">6</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">7</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">8</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">9</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">10</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">11</td>
							</tr>

							<tr class="row100 body">
								<td class="cell100 column1">12</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="wrap-table100-nextcols js-pscroll">
					<div class="table100-nextcols">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column2">Tổng thu</th>
									<th class="cell100 column3">Tổng chi</th>
									<th class="cell100 column4">Thu nhập thực tế</th>
									<th class="cell100 column5">Kì vọng</th>
								</tr>
							</thead>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column2">300.000</td>
									<td class="cell100 column3">100.000</td>
									<td class="cell100 column4">200.000</td>
									<td class="cell100 column5">300.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">350.000</td>
									<td class="cell100 column3">50.000</td>
									<td class="cell100 column4">300.000</td>
									<td class="cell100 column5">350.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">200.000</td>
									<td class="cell100 column3">0</td>
									<td class="cell100 column4">200.000</td>
									<td class="cell100 column5">300.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">400.000</td>
									<td class="cell100 column3">100.000</td>
									<td class="cell100 column4">300.000</td>
									<td class="cell100 column5">250.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">300.000</td>
									<td class="cell100 column3">50.000</td>
									<td class="cell100 column4">250.000</td>
									<td class="cell100 column5">300.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">200.000</td>
									<td class="cell100 column3">0</td>
									<td class="cell100 column4">200.000</td>
									<td class="cell100 column5">350.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">475.000</td>
									<td class="cell100 column3">75.000</td>
									<td class="cell100 column4">400.000</td>
									<td class="cell100 column5">400.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">350.000</td>
									<td class="cell100 column3">0</td>
									<td class="cell100 column4">350.000</td>
									<td class="cell100 column5">240.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">475.000</td>
									<td class="cell100 column3">375.000</td>
									<td class="cell100 column4">100.000</td>
									<td class="cell100 column5">120.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">300.000</td>
									<td class="cell100 column3">60.000</td>
									<td class="cell100 column4">240.000</td>
									<td class="cell100 column5">200.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">575.000</td>
									<td class="cell100 column3">175.000</td>
									<td class="cell100 column4">400.000</td>
									<td class="cell100 column5">240.000</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column2">400.000</td>
									<td class="cell100 column3">20.000</td>
									<td class="cell100 column4">380.000</td>
									<td class="cell100 column5">400.000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<% include ../../elements/footer%>

		<% include scripts %>

		<% include ../../elements/scripts %>
		<script src="javascripts/month-chart.js"></script>

</body>

</html>