<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../elements/meta %>
</head>

<body>
  <% include ../../elements/navbar %>
  <div class="container mt-5">
    <div class="row tm-content-row">

      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <!-- <div class="tm-product-table-container"> -->
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">TÊN SẢN PHẨM</th>
                  <th scope="col">GIÁ</th>
                  <th scope="col">LƯỢT XEM</th>
                  <th scope="col">SỐ LƯỢNG</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="productDetail">
              </tbody>
            </table>
          <!-- </div> -->
          <div style="text-align: center; margin-top: 2%;">
            <button id="firstProductPage" type="button" class="btn btn-outline-light btn-custom">&laquo;</button>
            <button id="prevProductPage" type="button" class="btn btn-outline-light btn-custom"><</button>
            <button id="nextProductPage" type="button" class="btn btn-outline-light btn-custom">></button>
            <button id="lastProductPage" value="<%= lastPage %>" type="button" class="btn btn-outline-light btn-custom">&raquo;</button>
          </div>
          <a href="/products/add" style="margin-top: 2%;" class="btn btn-primary btn-block text-uppercase mb-3">THÊM SẢN PHẨM MỚI</a>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h5><select id="filter" style="margin-bottom: 20px;height: auto;" class="custom-select" id="accountType"></h5>
            <option value="0" selected>Hãng sản xuất</option>
            <option value="1">Nhóm</option>
            <option value="2">Loại</option>
          </select>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <tbody id="filterList">
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <div class="form-popup" id="myForm">
            <form id="addCategory" class="form-container" onsubmit="return false;">
              <h1></h1>
          
              <label for="name"><b>Tên</b></label>
              <input type="text" placeholder="Nhập tên" name="name" required>
          
              <button type="submit" class="btn">Thêm</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
            </form>
          </div>
          <button onclick="openForm()" class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm
          </button>
        </div>
      </div>
    </div>
  </div>
  <% include ../../elements/footer %>

  <% include ../../elements/scripts %>

  <script src="javascripts/ajax_product.js"></script>
</body>

</html>