<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../elements/meta %>
</head>

<body id="reportsPage">
  <% include ../../elements/navbar %>
  <div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">TÊN SẢN PHẨM</th>
                  <th scope="col">ĐÃ BÁN</th>
                  <th scope="col">TỒN KHO</th>
                  <th scope="col">HẠN SỬ DỤNG</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Áo khoác jean</td>
                  <td>100</td>
                  <td>25</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Mũ lưỡi trai X</td>
                  <td>50</td>
                  <td>50</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Áo sơ mi sọc caro Hàn Quốc</td>
                  <td>100</td>
                  <td>40</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Váy trắng</td>
                  <td>30</td>
                  <td>40</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Váy đen</td>
                  <td>80</td>
                  <td>10</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Áo thun bóng đá</td>
                  <td>70</td>
                  <td>100</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Giày Nike</td>
                  <td>50</td>
                  <td>10</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Áo thun tay dài</td>
                  <td>10</td>
                  <td>60</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Quần jogger</td>
                  <td>20</td>
                  <td>10</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Quần jean</td>
                  <td>60</td>
                  <td>40</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">Áo khoác nữ</td>
                  <td>20</td>
                  <td>40</td>
                  <td></td>
                  <td>
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <a href="/products/add" class="btn btn-primary btn-block text-uppercase mb-3">THÊM SẢN PHẨM MỚI</a>
          <button class="btn btn-primary btn-block text-uppercase">
            Xóa sản phẩm đã chọn
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Phân loại sản phẩm</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <tbody>
                <tr>
                  <td class="tm-product-name">Thời trang nam</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Thời trang nữ</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Phụ kiện</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Hàng mới</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Hàng phổ biến</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Xu hướng</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Giày</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="tm-product-name">Mũ</td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <button class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm loại mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <% include ../../elements/footer %>

  <% include ../../elements/scripts %>
</body>

</html>